<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"> -->
    <script src="https://kit.fontawesome.com/74894dafb2.js" crossorigin="anonymous"></script>
    <title>
        <%= title %>
    </title>
</head>

<body>


    <nav id="nav-section">
        <h1>Habit Tracker App</h1>
        <div id="name-logout">
            <p>Welcome <span id="user_name">
                    
                </span></p>
            <p id="logout"><a href="/user/sign-out">Logout</a></p>
        </div>
    </nav>

    <div id="qutos">
        <h1>“Successful people have successful habits”</h1>
        <p>Start with a new habit today !
            <%if(flash.success && flash.success.length> 0){%>
                <span id="flash-msg">
                    <%= flash.success %> &nbsp;&nbsp;<i class="fa-solid fa-xmark" onclick="hideFlash()"></i>
                </span>
                <%}%>
        </p>
    </div>

    <div id="input">
        <form action="/user/habit/create" method="POST" class="input-form">
            <input name="habit" type="text" placeholder="write your habbit here to add ..." required>
            <button type="submit" id="form-btn">+ Add your Habit</button>
        </form>
    </div>



    <div id="symbol">
        <i class="fas fa-check-circle"></i>
        -Done&emsp;&emsp;
        <i class="fas fa-times-circle"></i>
        -Not Done&emsp;&emsp;
        <i class="fas fa-minus-circle"></i>
        -Unmarked&emsp;&emsp;
        <button id="weekly-view__btn-2" onclick="showDailyData()">Daily</button>
        <button id="weekly-view__btn" onclick="showWeeklyData()">weekly</button>
    </div>




    <div class="habbit-display__width">
        <ul class="habit-list">
            <li class="with-weekly">
                <% for(let details of habits){%>
                    <div class="habit-list-item">
                        <%let currentDate=new Date(); let dd=currentDate.getDate(); let mm=currentDate.getMonth() + 1;
                            const yyyy=currentDate.getFullYear(); if (dd < 10) dd='0' + dd; if (mm < 10) mm='0' + mm;
                            let today=dd + '/' + mm + '/' + yyyy; let found; let status; details.dates.find((item)=> {
                            if(item.date === today)
                            {
                            found = true;
                            status = item.complete;
                            }
                            });
                            %>
                            <a href="/user/habit/status-update/?id=<%= details._id %>&date=<%= today %>" class="status">
                                <% if(found && status==='yes' ){ %>
                                    <i class="fas fa-check-circle"></i>
                                    <% } else if(found && status==='no' ){ %>
                                        <i class="fas fa-times-circle"></i>
                                        <% } else { %>
                                            <i class="fas fa-minus-circle"></i>
                                            <% } %>
                            </a>
                            <div class="habit-list-item-name">
                                <%= details.content %>
                            </div>
                            <div>
                                <a href="/user/habit/favorite-habit/?id=<%= details._id %>" class="favorite">
                                    <% if(details.favorite) { %>
                                        <i class="fa-solid fa-star"></i>
                                        <% } else { %>
                                            <i class="fa-regular fa-star"></i>
                                            <% } %>
                                </a>
                                <a href="/user/habit/remove/?id=<%= details._id %>" class="remove">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>
                    </div>
                    <div class="weekly__container">
                        <%for(let d of weeklyDate){%>
                            <div class="weekly__date">
                                <p>
                                    <%= d %>
                                </p>
                                <% let find; let stat; details.dates.find((item)=> {
                                    if(item.date === d)
                                    {
                                    find = true;
                                    stat = item.complete;
                                    }
                                    });
                                    %>
                                    <a href="/user/habit/status-update/?id=<%= details._id %>&date=<%= d %>"
                                        class="status">
                                        <% if(find && stat==='yes' ){ %>
                                            <i class="fas fa-check-circle"></i>
                                            <% } else if(find && stat==='no' ){ %>
                                                <i class="fas fa-times-circle"></i>
                                                <% } else { %>
                                                    <i class="fas fa-minus-circle"></i>
                                                    <% } %>
                                    </a>
                            </div>
                            <%}%>
                    </div>
                    <%}%>
            </li>
        </ul>

    </div>


    <script src="/js/script.js"></script>


</body>

</html>